* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:#faf9f9ff;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #bee3dbff;
}
header {
    height:15vh;
}
main {
    display: flex;
    flex-direction: column;
}
header h1 {
    text-align: left;
}
header nav li {
    display: inline-block;
    margin-left: 25px;
}
header nav {
    float: right;
}

#Welcome-Container {
    display: flex;
    justify-content: flex-end;
}

#Welcome {
    border:1px solid #555b6eff;
    background-color: #ffd6baff;

}
.About-Me {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#item1 {
    width:10%;
    display: flex;
    font-size: 30px;
}
#item2 {
    border-left: 2px solid #555b6eff;
    width:80%;
    display: flex;

}
.Work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
#boxes {
    display: flex;
    flex-wrap: wrap;
    border-left: 2px solid #555b6eff;
    flex-direction: row;
    width: 80%;
}
#item3 {
    width:10%;
    display: flex;
    font-size: 30px;
}

#Box1 {
    border: 3px solid black;
    width: 100%;

}

#Box1 header {
    border: 2px solid #555b6eff;
    text-align: center;
    position: relative;
    background-color: #555b6eff;
    width:20%;
}

.Box {
    border: 3px solid black;
    width: 50%;
    
}
.Contact-Me {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.Contact-Me header {
    width:10%;
    display: flex;
    font-size: 30px;
}

.Contact-Me nav li {
    list-style-type: none;
    display: inline-block;
}

.Contact-Me nav {
    border-left: 2px solid #555b6eff;
    width: 80%;
}

@media screen and (max-width: 768px) {
    .About-Me, .Work, .Contact-Me {
      flex-direction: column;
    }
    #item2, #boxes, .Contact-Me nav {
        border-left: 0px;
        border-top: 2px solid #555b6eff;  
    }
    .Box {
        width: 100%;
    }
  }


