
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

header h1 {
    text-align: left;
}
header h2 {
    text-align: right;
}
header nav li {
    /* li List items in navigation bar */
    /* Sets display to inline */
        display: inline-block;
        margin-left: 25px;
}
.work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding: 0 20px;
    margin:15px 0;
    border-left: 2px solid;
}

.Work header {
    
}
.Box1 {
    border: 3px solid black;
    width: 90%;
    padding: 0 20px;
    margin:20px 0;
}
.Box2, .Box3, .Box4, .Box5 {
    border: 3px solid black;
    width: 40%;
    padding: 0 20px;
    margin:20px 0;
}
